@import "../../variable.scss";

@mixin media-mobile {
  @media (max-width: 768px) {
    @content;
  }
}

.page {
  .container {
    background-color: $color-primary-blue;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    .title {
      padding-top: 10px;
      padding-left: 10px;
      font-size: 2rem;
      color: white;
    }

    .content {
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-color: rgb(83, 93, 235);
      height: inherit;
      .textContent {
        margin-top: 1rem;
        color: white;
        padding: 10px;
        .textContentTitle {
          font-size: 1.6rem;
          font-family: Mona Sans, -apple-system, system-ui, BlinkMacSystemFont,
            "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
        }
        .textContentDetail {
          font-size: 1rem;
          padding: 15px;
          line-height: 2rem;
        }
        .startBtn {
          margin-top: 1rem;
          width: 100%;
        }
      }

      .videoContent {
        height: 400px;
        .image {
          height: 100%;
        }
      }

      @include media(large) {
        flex-direction: row;
        .textContent {
          .startBtn {
            width: 10rem;
          }
        }
      }
    }
  }

  .creatorsGuide {
    width: 100vw;
    height: 400px;
    margin: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;

    .creatorsGuideImage {
      width: 80%;
      height: 100%;
    }

    @include media-mobile {
      height: auto;

      .creatorsGuideImage {
        width: 100%;
      }
    }
  }
}
