@import "../../variable.scss";

@mixin media-mobile {
  @media (max-width: 768px) {
    @content;
  }
}

.page {
  .container {
    display: block;
    background-color: $color-primary-blue;
    min-height: 90vh;
    .title {
      padding-top: 10px;
      padding-left: 40px;
      font-size: 2.5em;
      color: white;

      @include media-mobile {
        padding-left: 20px;
        font-size: 1.5em;
      }
    }

    .content {
      display: flex;
      align-items: center;
      background-color: rgb(83, 93, 235);

      .text {
        width: 50%;
        padding: 100px;

        .sum {
          font-size: 38px;
          color: #fbfcfc;
          font-family: Mona Sans, -apple-system, system-ui, BlinkMacSystemFont,
            "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
          line-height: 48px;
          font-weight: 400px;
          margin-bottom: 20px;
        }

        .detail {
          font-size: 24px;
          color: rgb(251, 252, 252);
          font-family: Figtree, -apple-system, system-ui, BlinkMacSystemFont,
            "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
          line-height: 36px;
        }

        @include media-mobile {
          width: auto;
          padding: 30px;

          .sum {
            font-size: 2em;
          }
          .detail {
            font-size: 1em;
          }
        }
      }

      .imageWrap {
        height: 400px;

        .image {
          height: 100%;
        }

        @include media-mobile {
          padding-bottom: 50px;
        }
      }

      @include media-mobile {
        flex-direction: column;
      }
    }
  }

  .creatorsGuide {
    width: 100vw;
    height: 400px;
    margin: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;

    .creatorsGuideImage {
      width: 80%;
      height: 100%;
    }

    @include media-mobile {
      height: auto;

      .creatorsGuideImage {
        width: 100%;
      }
    }
  }
}

.startBtn {
  width: 10rem;
}
