@import "../../variable.scss";
.gallery {
  .title {
    font-size: 2.5em;
    margin-bottom: 20px;
    padding-left: 40px;
    padding-top: 10px;
  }
  .list {
    display: flex;
    justify-content: space-around;
    .storeInfo {
      .storeImg {
        width: 224px;
        height: 224px;
        object-fit: fill;
      }
    }

    @include media-medium2 {
      display: grid;
      grid-template-columns: 1fr 1fr;
      justify-items: center;
    }

    @include media-small {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
}
