@import "../../variable.scss";

.communityRules {
  line-height: 1.6;
  max-width: 680px;
  padding: 1rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  h2 {
    font-size: 1.3rem;
  }
  span {
    color: #808080;
    font-size: 0.8rem;
  }

  &__group {
    ul {
      padding: 1rem;
    }
    h4 {
      margin-top: 0.5rem;
      margin-bottom: 0.5rem;
    }
  }

  @include media(xlarge) {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    max-width: 650px;
    margin-top: 2rem;
    margin-bottom: 4rem;
    border-radius: 10px;
  }
}
